:root {
  --bg_main: #291D90;
  --border_solid: 1px solid #6A5ED5;
  --border_dashed: 1px dashed #B05ED5;
  --border_radius: 8px;
  --green: #38FFAC;
  --white: #ffffff;
  --yellow: #FADC00;
  --pink: #B05ED5;
  --neon_01: #B3ADE6;
  --neon_02: #9B94D6;
  --font: "Roboto Mono", monospace, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
ul li,
ol li,
button,
span,
a {
  font-family: var(--font);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
section::selection,
ul li::selection,
ol li::selection,
button::selection,
span::selection,
a::selection {
  background: var(--green);
  color: var(--bg_main);
}
.box,
button,
img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
body {
  background: var(--bg_main);
  margin: 0 auto;
}
body header {
  width: 98%;
  align-items: center;
  background: var(--bg_main);
  border-bottom: 1px dashed var(--pink);
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  position: fixed;
  z-index: 1;
}
body header section ul {
  align-items: center;
  display: flex;
  padding: 0;
}
body header section ul.left li {
  list-style: none;
  margin: 0 18px 0 0;
}
body header section ul.left li img {
  height: 50px;
}
body header section ul.left li a {
  display: block;
}
body header section ul.right li {
  list-style: none;
}
body header section ul.right li button {
  background: none;
  border: var(--border_solid);
  border-radius: var(--border_radius);
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
  margin: 0 0 0 18px;
  padding: 14px 20px;
  text-transform: uppercase;
}
body header section ul.right li button:hover {
  background: var(--white);
  color: var(--bg_main);
}
body header section ul.right li button:focus {
  box-shadow: 0 0 0 3px var(--green);
}
body header section ul.right li button:active {
  background: var(--white);
  border: 1px solid var(--white);
  color: var(--bg_main);
}
body main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 0;
}
body main .info {
  display: flex;
  justify-content: center;
  padding: 3% 4% 2%;
}
body main .info section {
  flex: 1;
}
body main .info section:nth-child(1) {
  flex: 2;
  padding: 0 30px 0 0;
}
body main .info section h1 {
  color: var(--white);
  font-size: 3.125em;
  font-weight: 400;
  margin: 0;
}
body main .info section h1 span {
  margin: 0 0 0 90px;
}
body main .info section h4 {
  color: var(--neon_01);
  font-size: 1.25em;
  font-weight: 400;
  margin: 14px auto 0;
  text-align: center;
}
body main .info section p {
  color: var(--neon_02);
  font-size: 1.875em;
  margin: 20px 0 30px;
}
body main .info section p.credits {
  color: var(--white);
  font-size: 1.25em;
  margin: 6px auto 0;
  text-align: center;
}
body main .info section img {
  width: 100%;
}
body main .repositories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px auto 60px;
}
body main .repositories .title {
  width: 92%;
  color: var(--green);
  font-size: 1.875em;
  font-weight: 400;
  margin: 0 0 24px;
  text-align: left;
}
body main .repositories .title::before {
  content: "📁";
  margin: 0 16px 0 0;
}
body main .repositories .description {
  width: 92%;
  color: var(--white);
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0 0 40px;
}
body main .repositories button {
  width: 95%;
  max-width: 400px;
  background: var(--bg_main);
  border: 1px solid var(--green);
  border-radius: var(--border_radius);
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 1.375em;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 30px 0 0;
  padding: 10px;
  text-transform: uppercase;
}
body main .repositories button:hover {
  background: var(--green);
  color: var(--bg_main);
}
body main .repositories button:focus {
  box-shadow: 0 0 0 3px var(--green);
}
body main .repositories button:active {
  background: var(--white);
  border: 1px solid var(--white);
  color: var(--bg_main);
}
body main .repositories .box {
  width: 11%;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
  border-radius: var(--border_radius);
  border: var(--border_solid);
  cursor: pointer;
  margin: 0 1%;
  padding: 1.2% 1.5% 1%;
}
body main .repositories .box.wide {
  width: 23%;
}
body main .repositories .box a {
  text-decoration: none;
}
body main .repositories .box h2 {
  color: var(--white);
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 12px;
}
body main .repositories .box h4 {
  border-bottom: 1px dashed var(--pink);
  color: var(--white);
  font-size: 0.625em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 12px;
  padding: 0 0 18px;
  text-transform: uppercase;
}
body main .repositories .box h4::before {
  width: 5px;
  height: 10px;
  background: var(--green);
  border-radius: 50px;
  color: var(--green);
  content: "__";
  padding: 0;
  margin: 0 8px 0 0;
}
body main .repositories .box h4.date {
  border: 0;
  color: var(--neon_02);
  margin: 0 0 2px;
  padding: 0;
}
body main .repositories .box h4.date::before {
  display: none;
}
body main .repositories .box p {
  color: var(--neon_01);
  font-size: 0.875em;
  margin: 0 0 18px;
}
body main .repositories .box:hover {
  border: 1px solid rgba(106, 94, 213, 0.5);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.4) 100%);
  -webkit-box-shadow: 0 14px 12px -18px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 14px 12px -18px rgba(0, 0, 0, 0.7);
  box-shadow: 0 14px 12px -18px rgba(0, 0, 0, 0.7);
}
body main .repositories .box:hover h2 {
  color: var(--yellow);
}
body main .repositories .box:hover p {
  color: var(--neon_01);
  font-size: 0.875em;
  margin: 0 0 18px;
}
body footer {
  display: flex;
  justify-content: center;
  padding: 80px 9% 20px;
}
body footer section h2 {
  color: var(--white);
  font-size: 3.125em;
  font-weight: 400;
  margin: 0;
}
body footer section h2 span {
  margin: 0 0 0 90px;
}
body footer section p {
  width: 70%;
  color: var(--neon_01);
  font-size: 1.875em;
  margin: 30px 0 0;
}
body footer section section {
  padding: 0;
}
body footer section section.above {
  margin: 100px auto 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body footer section section.above ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
}
body footer section section.above ul li {
  display: inline-block;
  margin: 0 30px 0 0;
}
body footer section section.above ul li button {
  width: 320px;
  background: var(--green);
  border: 0;
  border-radius: var(--border_radius);
  color: var(--bg_main);
  cursor: pointer;
  font-size: 1.875em;
  padding: 6px 20px;
}
body footer section section.above ul li button:hover {
  background: var(--white);
  color: var(--bg_main);
}
body footer section section.above ul li button:focus {
  box-shadow: 0 0 0 3px var(--green);
}
body footer section section.above ul li button:active {
  background: var(--white);
  border: 1px solid var(--white);
  color: var(--bg_main);
}
body footer section section.above ul li a {
  display: block;
}
body footer section section.above ul li a img {
  width: 44px;
  opacity: 0.5;
}
body footer section section.above ul li a:hover img {
  opacity: 1;
}
body footer section section.above ul.right li a img {
  width: 110px;
  opacity: 1;
}
body footer section section.above ul.right li a:hover img {
  opacity: 0.5;
}
body footer section section.below {
  margin: 60px auto 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body footer section section.below ul {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
}
body footer section section.below ul li {
  color: var(--white);
  font-size: 1em;
  display: inline-block;
  margin: 0 30px 0 0;
}
body footer section section.below ul li a {
  color: var(--neon_01);
  text-decoration: none;
}
body footer section section.below ul.right li {
  text-align: right;
}
@media screen and (max-width: 1200px) {
  body main .info section:nth-child(1) {
    flex: 1;
  }
  body main .info section h1 {
    font-size: 2.5em;
  }
  body main .info section h1 span {
    margin: 0 0 0 50px;
  }
  body main .info section p {
    font-size: 1.5em;
    line-height: 1.5;
  }
  body main .repositories .title {
    width: 76%;
  }
  body main .repositories .description {
    width: 76%;
  }
  body main .repositories button {
    margin: 20px 0 0;
  }
  body main .repositories .box {
    width: 22%;
    margin: 0 1% 2%;
  }
  body footer {
    padding: 0 4%;
  }
  body footer section h2 {
    font-size: 2.5em;
  }
  body footer section h2 span {
    margin: 0 0 0 50px;
  }
  body footer section p {
    font-size: 1.5em;
    line-height: 1.5;
  }
  body footer section section.above {
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 1024px) {
  body main .info {
    flex-wrap: wrap;
    padding: 3% 12% 0;
  }
  body main .info section {
    flex: auto;
  }
  body main .info section:nth-child(1) {
    flex: auto;
  }
  body main .info section:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  body footer {
    padding: 0 9%;
  }
  body footer section p {
    width: 100%;
  }
  body footer section section.above {
    display: block;
  }
  body footer section section.below {
    display: block;
  }
}
@media screen and (max-width: 769px) {
  body main .info {
    padding: 3% 8% 0;
  }
  body main .info section h1 span {
    margin: 0 0 0 80px;
  }
  body main .info section p {
    margin: 20px 0 0;
  }
  body main .repositories .title {
    width: 84%;
  }
  body main .repositories .description {
    width: 84%;
  }
  body main .repositories .box {
    width: 36%;
    margin: 0 2% 4%;
    padding: 4%;
  }
}
@media screen and (max-width: 640px) {
  body header {
    width: 94%;
    background: var(--white);
    border: 0;
    bottom: 0;
    padding: 0 3%;
  }
  body header section ul {
    margin: 14px 0 10px;
  }
  body header section ul.left li img {
    height: 40px;
  }
  body header section ul.left li:last-child {
    display: none;
  }
  body header section ul.right li button {
    color: var(--bg_main);
    font-size: 0.8em;
    padding: 9px 20px;
  }
  body main {
    padding: 10px 0 0;
  }
  body main .info section h1 {
    font-size: 2em;
  }
  body main .info section h1 span {
    margin: 0 0 0 30px;
  }
  body main .info section p {
    font-size: 1.25em;
  }
  body footer section {
    text-align: center;
  }
  body footer section h2 {
    font-size: 2em;
  }
  body footer section h2 span {
    margin: 0 0 0 20px;
  }
  body footer section p {
    font-size: 1.25em;
  }
  body footer section section.above ul {
    display: grid;
  }
  body footer section section.above ul li {
    margin: 30px 0 0;
  }
  body footer section section.above ul li:first-child {
    margin: 0;
  }
  body footer section section.below {
    margin: 50px auto 50px;
  }
  body footer section section.below ul {
    display: block;
  }
  body footer section section.below ul li {
    margin: 0 15px;
  }
  body footer section section.below ul.right li {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  body header {
    width: 92%;
    padding: 0 4%;
  }
  body header section {
    margin: 0 auto;
  }
  body header section ul.left li {
    margin: 0;
  }
  body header section ul.right li button {
    margin: 0 10px;
  }
  body header section ul.right li:first-child button,
  body header section ul.right li:last-child button {
    margin: 0;
  }
  body header section:first-child {
    display: none;
  }
  body main .info section:nth-child(2) {
    display: block;
    margin: 30px auto 0;
    text-align: center;
  }
  body main .info section h1 {
    color: var(--green);
    font-size: 1.7em;
  }
  body main .info section h1 span {
    margin: 0;
  }
  body main .info section h4 {
    font-size: 1em;
    margin: 10px auto 0;
  }
  body main .info section p {
    color: var(--white);
    font-size: 1em;
    line-height: 1.6;
  }
  body main .info section p.credits {
    font-size: 1em;
  }
  body main .repositories .title {
    width: 80%;
    font-size: 1.75em;
  }
  body main .repositories .description {
    width: 80%;
    font-size: 1.125em;
    line-height: 1.6em;
    margin: 0 0 32px;
  }
  body main .repositories button {
    width: 90%;
    margin: 0;
  }
  body main .repositories .box {
    width: 80%;
    margin: 0 2% 8%;
  }
}
@media screen and (max-width: 400px) {
  body header section ul.right li button {
    padding: 9px 15px;
  }
  body header section:first-child {
    display: none;
  }
  body main .info section h1 {
    font-size: 1.5em;
  }
  body main .repositories .title {
    font-size: 1.5625em;
  }
  body main .repositories .description {
    font-size: 1em;
  }
  body footer section section.above ul li button {
    width: 280px;
  }
}
/*# sourceMappingURL=styles.css.map */